//  -----------------------------------------------------------------
//	BUTTONS
//  -----------------------------------------------------------------

.btn--outline {
	@include btn('outline');
}

.btn--white {
	@include btn('outline', #fff, #fff);

	&:hover,
	&:active {
		color: $primary-color;
	}
}

.btn--primary {
	@include btn('outline', $primary-color, $primary-color);
}

.btn--solid,
.nav-btn a {
	@include btn('solid');
}

.btn--small {
	padding: 4px 12px;

	font-size: 1.2rem;
	border-width: 1px;
}
