//  -----------------------------------------------------------------
//	COMMENTS
//  -----------------------------------------------------------------

.comments {
	padding: 30px 0 0;
}

.comments__header {
	@include cf;

	.title { // h3
		margin: 0 0 10px;

		@extend %roboto-med;
		color: $comment-head;
		font-size: 2.4rem;
		line-height: 3.2rem;
	}
}

.comment-notes {
	margin-bottom: 30px;

	font-size: 1.4rem;
	line-height: 2rem;
}

.comment__reply {
	@extend .btn--small;

	float: right;
}

.comments__list {
	margin: 0;
	padding: 45px 0 30px;

	list-style: none;

	li {
		margin: 0 0 30px;
	}

	.children {
		list-style: none;
	}

	> li > .children {
		border-left: 3px solid $comment-border;

	}
}

.comment-awaiting-moderation {
	// display: block;
	flex: 2;

	margin: 5px 0 15px;
	padding: 0 10px;
	// width: 100%;

	background-color: $msg-box-bg;

	font-size: 1.2rem;
}

.comment-body {
	margin: 0 0 45px;
}

.comment-meta {
	@include cf;

	align-items: center;
	display: flex;
	justify-content: space-between;
}

.comment-author {
	align-items: center;
	display: flex;
	flex: 1;

	// width: 50%;

	img {
		display: inline-block;

		margin: 0 10px 0 0;
	}

	.fn {
		margin: 0 4px 0 0;
	}
}

.comment-metadata {
	// width: 50%;
	flex: 1;

	font-size: 1.3rem;
	text-align: right;
}

.comment-content {
	padding: 15px 0 0;
}

.comment-reply-link {
	@extend .btn--primary;
	@extend .btn--small;
}

.form-submit {
	margin: 30px 0 0;
}
