//  -----------------------------------------------------------------
//	FORMS
//  -----------------------------------------------------------------

form {

	[type='text'],
	textarea {
		padding: 12px 20px;
		width: 100%;

		background-color: $form-text-bg;
		border: none;
	}

	[type='text'] {
		line-height: 3rem;
	}

	textarea {
		height: auto;
		min-height: 200px;
	}

	select {

		// Suppress default browser select menu styling
		appearance: none;
		border: 0;
		border-radius: 0;

		// Firefox fix for custom select style
		text-indent: .01px;
		text-overflow: '';

		// IE fix for custom select style
		&::-ms-expand {
			display: none;
		}
	}

}
