//  -----------------------------------------------------------------
//	PARTIAL: POST
//
//	Shared formatting for post content, experts
//  -----------------------------------------------------------------

%post {

	img {
		display: block;

		height: auto;
		max-width: 100%;
	}

	.date {
		color: $excerpt-date;
	}

	// Type styles

	h2,
	h3,
	h4 {
		margin: 30px 0 15px;
	}

	code {
		padding: 1px 2px;

		background-color: $code-inline-bg;
		border: 1px solid $code-inline-border;
		border-radius: 2px;

		font-size: 1.8rem;
		font-weight: normal;
	}
}

.post {
	@extend %post;
}

.post__head {
	margin: 0 0 60px;

	img {
		margin-bottom: 45px;
	}

	h1 {
		margin-bottom: 10px;
	}

	.date {
		text-align: center;
	}
}

.post__nav {
	margin: 60px 0 0 0;

	text-align: center;

	p {
		display: block;

		margin-bottom: 10px;

		@extend %roboto;
	}

	a {
		display: block;

		padding: 3px 0 6px 0;

		@extend %roboto-light;
	}

	@include respond($break-tablet1) {

		a {
			display: inline-block;

			padding: 0;
		}

		.links {
			align-items: center;
			display: flex;
			justify-content: center;

			[rel='prev'],
			[rel='next'] {
				margin: 0 15px;
			}
		}
	}
}

// Post excerpt group

.post__group {
	margin: 0 0 60px 0;

	h2 {
		margin-bottom: 30px;
	}

	.post__excerpt {
		margin-bottom: 15px;
	}
}

// Post excerpts

.post__excerpt {
	@extend %post;

	margin: 0 0 30px;

	h3 {
		margin: 0 0 5px;
		width: 100%;
	}

	a {
		display: inline-block;

		transition: all .2s $ease-out-quint;
	}

	a:hover {
		transform: translateX(6px);
	}
}

// Embedded content

.oembed-gist {
	margin: 15px 0 45px 0;
}
