//  -----------------------------------------------------------------
//	Project prev/next links
//  -----------------------------------------------------------------

.post-nav {
	margin: 30px 0 0 0;

	text-align: center;

	p {
		display: block;

		margin-bottom: 10px;
	}
}

.post-nav__links {
	align-items: center;
	display: flex;
	justify-content: center;

	[rel='prev'],
	[rel='next'] {
		margin: 0 15px;
	}
}
