//  -----------------------------------------------------------------
//	PARTIAL: Work grid
//  -----------------------------------------------------------------

.work-grid {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	margin-left: -15px;
	margin-right: -15px;

	.tile {
		margin: 0 0 30px;
		padding: 0 15px;
		width: 50%;
	}

	img {
		height: auto;
		max-width: 100%;

		border: 5px solid $tile-border;
	}
}
