//  -----------------------------------------------------------------
//	GLOBAL ELEMENTS
//  -----------------------------------------------------------------

hr {
	height: 0;
	margin: 30px auto 60px;
	width: 45px;

	background: transparent;
	border: 0;
	border-top: 2px solid $dark-grey10;

	&.red {
		border-color: $red;
	}

	&.blue {
		border-color: $blue;
	}

	&.green {
		border-color: $green;
	}
}
