//  -----------------------------------------------------------------
//	FORMS
//  -----------------------------------------------------------------

form {

	select {

		// Suppress default browser select menu styling
		appearance: none;
		border: 0;
		border-radius: 0;

		// Firefox fix for custom select style
		text-indent: .01px;
		text-overflow: '';

		// IE fix for custom select style
		&::-ms-expand {
			display: none;
		}
	}

}
