//  -----------------------------------------------------------------
//	DEFAULTS
//  -----------------------------------------------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

//  -----------------------------------------------------------------
//	LAYOUT
//  -----------------------------------------------------------------

body {
	background-color: $page-bg;

	@include respond($break-desktop1) {
		min-width: 960px;
	}
}

body,
html {
	width: 100%;
}

.inner-wrap {
	position: relative;

	margin: 0 auto;
	min-height: 100vh;
	padding: 0;
	width: 100%;

	background-color: $page-bg;
}

.container,
.main-wrap {
	margin: 0 auto;
	padding: 0 3%;
	width: 100%;

	@include respond($break-tablet1) {
		padding: 0;
		width: 75%;
	}

	@include respond($break-desktop2) {
		width: 50%;
	}
}
