//  -----------------------------------------------------------------
//	BASE
//  -----------------------------------------------------------------

html {
	font: normal 58% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 100%;

	@include respond($break-phone2) {
		font-size: 62.5%;
	}
}

body {
	@include fslh(1.5, 2.2);
}

//  -----------------------------------------------------------------
//	HEADLINES
//  -----------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	a:link,
	a:visited {
		text-decoration: none;
	}
}

h1 {
	margin: 0 0 15px 0;

	@extend %aleo;
	font-size: 5.6rem;
	line-height: 6.2rem;
	color: $dark-grey;
}

h1 + p {
	margin: 0;

	@extend %aleo;
	font-size: 2.4rem;
	line-height: 2.8rem;
	color: $dark-grey50;
}

h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

//  -----------------------------------------------------------------
//	PARAGRAPH & LIST STYLES
//  -----------------------------------------------------------------

p, ul li, ol li {
	@extend %libre;
	@include fslh(1.5, 2.2);
	color: $body-copy;
}

p {
	margin: 0 0 15px 0;
}

p strong {}

em {
	font-style: italic;
}

small {
	@include fslh(1.2, 1.8);
}

//  -----------------------------------------------------------------
//	MISC
//  -----------------------------------------------------------------

sub, sup {
	font-size: .5em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}