@font-face {
	font-family: 'aleolight';
	src: url("../fonts/aleo-light-webfont.eot");
	src: url("../fonts/aleo-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo-light-webfont.woff") format("woff"), url("../fonts/aleo-light-webfont.ttf") format("truetype"), url("../fonts/aleo-light-webfont.svg#aleolight") format("svg");
	font-weight: normal;
	font-style: normal; }

h1, .intro, .post__nav p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400; }

h3, p,
ul li,
ol li, .post__nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; }

h2, h4, .btn-outline, .btn-outline--white, .btn-outline--primary, .btn-solid,
.nav-btn a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500; }

html {
	font: normal 58% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 100%; }
	@media (min-width: 640px) {
		html {
			font-size: 62.5%; } }

body {
	font-size: 13.919px;
	font-size: 13.919px;
	font-size: 1.5rem;
	line-height: 20.416px;
	line-height: 20.416px;
	line-height: 2.2rem; }

a {
	-webkit-transition: color .05s;
	transition: color .05s;
	color: #66c9c5;
	cursor: pointer;
	text-decoration: none; }

a:hover {
	color: #2cc990;
	text-decoration: none; }

a:focus {
	outline: none; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none; }

h1 {
	margin: 0 0 45px 0;
	color: #2cc990;
	line-height: 27.839px;
	line-height: 27.839px;
	line-height: 3rem;
	text-align: center; }

h2 {
	margin: 15px 0 45px;
	color: #3a3a3a;
	font-size: 22.272px;
	font-size: 22.272px;
	font-size: 2.4rem;
	line-height: 25.984px;
	line-height: 25.984px;
	line-height: 2.8rem; }

h3 {
	margin: 5px 0 10px;
	color: #3a3a3a;
	font-size: 18.56px;
	font-size: 18.56px;
	font-size: 2rem;
	line-height: 22.272px;
	line-height: 22.272px;
	line-height: 2.4rem; }

h4 {
	color: #2cc990;
	font-size: 16.704px;
	font-size: 16.704px;
	font-size: 1.8rem;
	line-height: 22.272px;
	line-height: 22.272px;
	line-height: 2.4rem; }

p,
ul li,
ol li {
	color: #3a3a3a;
	font-size: 14.847px;
	font-size: 14.847px;
	font-size: 1.6rem;
	line-height: 25.984px;
	line-height: 25.984px;
	line-height: 2.8rem; }

.intro {
	text-indent: 30px; }
	@media (min-width: 768px) {
		.intro {
			font-size: 1.8rem;
			line-height: 3rem;
			text-indent: 60px; } }

.super {
	margin: 0 0 8px;
	color: #bababa;
	font-size: 14.847px;
	font-size: 14.847px;
	font-size: 1.6rem; }

p {
	margin: 0 0 15px; }

em {
	font-style: italic; }

small {
	font-size: 11.136px;
	font-size: 11.136px;
	font-size: 1.2rem;
	line-height: 16.704px;
	line-height: 16.704px;
	line-height: 1.8rem; }

sub,
sup {
	vertical-align: baseline;
	position: relative;
	font-size: .5em;
	line-height: 0; }

sup {
	top: -.5em; }

sub {
	bottom: -.25em; }

.btn-outline {
	display: inline-block;
	position: relative;
	-webkit-transition: color 0.1s, border-color 0.1s;
	transition: color 0.1s, border-color 0.1s;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 22px 8px 22px;
	width: auto;
	background-color: #66c9c5;
	border-bottom: 3px solid #42bab5;
	border-radius: 2px;
	color: #fff;
	line-height: 20px;
	background: none;
	border: 2px solid #66c9c5;
	color: #66c9c5; }
	.btn-outline:after {
		content: '';
		display: none;
		z-index: -1;
		left: 0;
		position: absolute;
		top: 0;
		-webkit-transition: height 0.1s ease-in-out;
		transition: height 0.1s ease-in-out;
		height: 0;
		width: 100%;
		background-color: #2cc990; }
	.btn-outline:hover, .btn-outline:active {
		background-color: #2cc990;
		border-color: #2cc990;
		color: #fff; }

.btn-outline--white {
	display: inline-block;
	position: relative;
	-webkit-transition: color 0.1s, border-color 0.1s;
	transition: color 0.1s, border-color 0.1s;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 22px 8px 22px;
	width: auto;
	background-color: #fff;
	border-bottom: 3px solid #e6e6e6;
	border-radius: 2px;
	color: #fff;
	line-height: 20px;
	background: none;
	border: 2px solid #fff;
	color: #fff; }
	.btn-outline--white:after {
		content: '';
		display: none;
		z-index: -1;
		left: 0;
		position: absolute;
		top: 0;
		-webkit-transition: height 0.1s ease-in-out;
		transition: height 0.1s ease-in-out;
		height: 0;
		width: 100%;
		background-color: #fff; }
	.btn-outline--white:hover, .btn-outline--white:active {
		background-color: #fff;
		border-color: #fff;
		color: #fff; }
	.btn-outline--white:hover, .btn-outline--white:active {
		color: #66c9c5; }

.btn-outline--primary {
	display: inline-block;
	position: relative;
	-webkit-transition: color 0.1s, border-color 0.1s;
	transition: color 0.1s, border-color 0.1s;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 22px 8px 22px;
	width: auto;
	background-color: #66c9c5;
	border-bottom: 3px solid #42bab5;
	border-radius: 2px;
	color: #fff;
	line-height: 20px;
	background: none;
	border: 2px solid #66c9c5;
	color: #66c9c5; }
	.btn-outline--primary:after {
		content: '';
		display: none;
		z-index: -1;
		left: 0;
		position: absolute;
		top: 0;
		-webkit-transition: height 0.1s ease-in-out;
		transition: height 0.1s ease-in-out;
		height: 0;
		width: 100%;
		background-color: #66c9c5; }
	.btn-outline--primary:hover, .btn-outline--primary:active {
		background-color: #66c9c5;
		border-color: #66c9c5;
		color: #fff; }

.btn-solid,
.nav-btn a {
	display: inline-block;
	position: relative;
	-webkit-transition: color 0.1s, border-color 0.1s;
	transition: color 0.1s, border-color 0.1s;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 22px 8px 22px;
	width: auto;
	background-color: #66c9c5;
	border-bottom: 3px solid #42bab5;
	border-radius: 2px;
	color: #fff;
	line-height: 20px; }
	.btn-solid:after,
	.nav-btn a:after {
		content: '';
		display: none;
		z-index: -1;
		left: 0;
		position: absolute;
		top: 0;
		-webkit-transition: height 0.1s ease-in-out;
		transition: height 0.1s ease-in-out;
		height: 0;
		width: 100%;
		background-color: #2cc990; }
	.btn-solid:hover, .btn-solid:active,
	.nav-btn a:hover,
	.nav-btn a:active {
		background-color: #2cc990;
		border-color: #2cc990;
		color: #fff; }

hr {
	height: 0;
	margin: 45px auto;
	width: 45px;
	background: transparent;
	border: 0;
	border-top: 2px solid #ededed; }
	hr.red {
		border-color: #bc4505; }
	hr.blue {
		border-color: #66c9c5; }
	hr.green {
		border-color: #2cc990; }
	@media (min-width: 768px) {
		hr {
			margin: 60px auto; } }

.post img, .post__excerpt img {
	display: block;
	height: auto;
	max-width: 100%; }

.post .date, .post__excerpt .date {
	color: lightgray; }

.post h2, .post__excerpt h2, .post h3, .post__excerpt h3, .post h4, .post__excerpt h4 {
	margin: 30px 0 15px; }

.post code, .post__excerpt code {
	padding: 1px 2px;
	background-color: #f6f6f6;
	border: 1px solid #ededed;
	border-radius: 2px;
	font-size: 16.704px;
	font-size: 16.704px;
	font-size: 1.8rem;
	font-weight: normal; }

.post__head {
	margin: 0 0 60px; }
	.post__head img {
		margin-bottom: 45px; }
	.post__head h1 {
		margin-bottom: 10px; }
	.post__head .date {
		text-align: center; }

.post__nav {
	margin: 60px 0 0 0;
	text-align: center; }
	.post__nav p {
		display: block;
		margin-bottom: 10px; }
	.post__nav a {
		display: block;
		padding: 3px 0 6px 0; }
	@media (min-width: 768px) {
		.post__nav a {
			display: inline-block;
			padding: 0; }
		.post__nav .links {
			-webkit-box-align: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center; }
			.post__nav .links [rel='prev'],
			.post__nav .links [rel='next'] {
				margin: 0 15px; } }

.post__group {
	margin: 0 0 60px 0; }
	.post__group h2 {
		margin-bottom: 30px; }
	.post__group .post__excerpt {
		margin-bottom: 15px; }

.post__excerpt {
	margin: 0 0 30px; }
	.post__excerpt h3 {
		margin: 0 0 5px;
		width: 100%; }
	.post__excerpt a {
		display: inline-block;
		-webkit-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
		transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1); }
	.post__excerpt a:hover {
		-webkit-transform: translateX(6px);
		        transform: translateX(6px); }

.oembed-gist {
	margin: 15px 0 45px 0; }
/*# sourceMappingURL=editor-style.css.map */