//  -----------------------------------------------------------------
//	BASE
//  -----------------------------------------------------------------

html {
	font: normal 58% "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 100%;

	@include respond($break-phone2) {
		font-size: 62.5%;
	}
}

body {
	font-size: 1.5rem;
	line-height: 2.2rem;
}

//  -----------------------------------------------------------------
//	DEFAULTS: Link styles
//  -----------------------------------------------------------------

a {
	transition: color .05s;

	@extend %roboto-med;
	color: $primary-color;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: $secondary-color;
	text-decoration: none;
}

a:focus {
	outline: none;
}

//  -----------------------------------------------------------------
//	HEADLINES
//  -----------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	a:link,
	a:visited {
		text-decoration: none;
	}
}

h1 {
	margin: 0 0 45px 0;

	@extend %roboto;
	line-height: 3rem;
}

h2 {
	margin: 15px 0 45px;

	@extend %roboto-med;
	color: $secondary-color;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
}

h3 {
	margin: 5px 0 10px;

	@extend %roboto-light;
	color: $dark-grey;
	font-size: 2rem;
	line-height: 2.4rem;
}

//  -----------------------------------------------------------------
//	PARAGRAPH & LIST STYLES
//  -----------------------------------------------------------------

p,
ul li,
ol li {
	@extend %roboto-light;
	color: $body-copy;
	font-size: 1.6rem;
	line-height: 2.5rem;
}

.intro {
	@extend %roboto;
	font-size: 1.8rem;
	line-height: 2.8rem;
	// TODO: Not sure whether or not I like the indent
	text-indent: 60px;
}

.super {
	margin: 0 0 8px;

	color: $super-copy;
	font-size: 1.6rem;
}

p {
	margin: 0 0 15px;
}

em {
	font-style: italic;
}

small {
	font-size: 1.2rem;
	line-height: 1.8rem;
}

//  -----------------------------------------------------------------
//	MISC
//  -----------------------------------------------------------------

sub,
sup {
	vertical-align: baseline;

	position: relative;

	font-size: .5em;
	line-height: 0;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}
