//  -----------------------------------------------------------------
//	PARTIAL: POST
//
//	Shared formatting for post content, experts
//  -----------------------------------------------------------------

%post {

	img {
		display: block;

		height: auto;
		max-width: 100%;
	}

	.date {
		color: $excerpt-date;
	}

	// Type styles

	h2,
	h3,
	h4 {
		margin: 30px 0 15px;
	}

	code {
		padding: 1px 2px;

		background-color: $code-inline-bg;
		border: 1px solid $code-inline-border;
		border-radius: 2px;

		font-size: 1.4rem;
		font-weight: normal;
	}
}

.post,
.mce-content-body {
	@extend %post;
}

.post__head {
	margin: 0 0 60px;

	img {
		margin-bottom: 45px;
	}

	h1 {
		margin-bottom: 10px;
	}

	.date {
		text-align: center;
	}
}

.post__cats {
	@include supplemental-links();

	margin-bottom: 60px;
}

// Post excerpt group

.post__group {
	margin: 0 0 60px 0;

	h2 {
		margin-bottom: 30px;
	}

	.post__excerpt {
		margin-bottom: 15px;
	}
}

// Post excerpts

.post__excerpt {
	@extend %post;

	margin: 0 0 30px;

	h3 {
		margin: 0 0 5px;
		width: 100%;
	}

	a {
		display: inline-block;

		transition: all .2s $ease-out-quint;
	}

	a:hover {
		transform: translateX(6px);
	}
}

// Embedded content

.oembed-gist {
	margin: 15px 0 45px 0;
}
