//  -----------------------------------------------------------------
//	PAGE: Project
//  -----------------------------------------------------------------

.single-project .main-wrap {
	max-width: none;
	padding: 0 5%;
	width: 100%;
}

.type-project {
	@extend %cf;
}

.project__preview {
	@include project-preview();

	img {
		border: 10px solid $tile-border;
	}

	figcaption {
		transform: translateY(-100%);

		padding: 10px;
	}

	a {
		@extend .btn-outline--white;

		background-color: $primary-color;
		border-color: $primary-color;

		color: #fff;
		text-transform: uppercase;
	}
}

.project__details {
	margin: 0 0 30px 0;

	h1 {
		text-align: left;
	}
}

.project__body {
	margin: 0 0 45px;
}

.project__tags {
	max-width: 260px;

	span {
		display: inline-block;

		margin: 0 3px 2px 0;
		padding: 3px 6px;

		background-color: $project-tag-bg;

		@extend %roboto-light;
		color: #fff;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
}

@include respond($break-tablet1) {

	.project__preview {
		float: left;

		width: percentage(2/3);
	}

	.project__preview a {
		transition: transform .4s $ease-out-quint;
		transform: scale(1.2);

		background-color: transparent;
		border-color: #fff;

		color: #fff;
	}

	.project__preview:hover a {
		transform: scale(1);
	}

	.project__preview figcaption {
		transform: none;

		padding: 0;
	}

	.project__details {
		float: left;

		padding: 30px 0 0 60px;
		width: percentage(1/3);
	}

}