//  -----------------------------------------------------------------
//	PARTIAL: HEADER
//  -----------------------------------------------------------------

.header .hello {
	display: block;

	margin: 0;

	color: $hello-copy;
	font-size: 3.2rem;
	line-height: 3.6rem;
	text-align: center;

	a {
		display: inline-block;

		@extend %aleo-light;
	}

	a:hover {
		animation: bounce 1s;
		animation-iteration-count: 1;
	}

	+ p {
		margin: 0;

		@extend %roboto-light;
		color: $hello-sub-copy;
		font-size: 1.5rem;
		line-height: 2.8rem;
		text-align: center;
	}
}

.home .header .hello {
	font-size: 4rem;
	line-height: 5.2rem;
}

.nav {

	ul {
		margin: 0 0 60px;
		padding: 30px 0 0;

		list-style: none;
		text-align: center;
	}

	li {
		display: inline-block;

		margin: 0 30px;
	}

	a {
		@extend %roboto-light;
		color: $nav-link;
		text-decoration: none;
	}

	a:hover {
		color: $secondary-color;
	}
}
