//  -----------------------------------------------------------------
//	PARTIAL: HEADER
//  -----------------------------------------------------------------

.header__hello {
	display: block;

	margin: 0;

	color: $hello-copy;
	font-size: 3.2rem;
	line-height: 3.6rem;
	text-align: center;

	a {
		display: inline-block;

		@extend %aleo-light;
	}

	a:hover {
		animation: bounce 1s;
		animation-iteration-count: 1;
	}

	+ p {
		margin: 0;

		@extend %roboto-light;
		color: $hello-sub-copy;
		font-size: 1.5rem;
		line-height: 2.8rem;
		text-align: center;
	}
}

.nav {

	ul {
		margin: 0 0 30px;
		padding: 30px 0 0;

		list-style: none;
		text-align: center;
	}

	li {
		display: inline-block;

		margin: 0 20px;
	}

	a {
		@extend %roboto-light;
		color: $nav-link;
		font-size: 1.8rem;
		text-decoration: none;
	}

	a:hover {
		color: $secondary-color;
	}

	@include respond($break-phone2) {

		li {
			margin: 0 30px;
		}
	}
}

@include respond($break-tablet1) {

	.nav ul {
		margin-bottom: 60px;
	}

	.nav a {
		font-size: 1.6rem;
	}

}
