//  -----------------------------------------------------------------
//	MIXINS: Media queries
//  -----------------------------------------------------------------

@mixin respond($media, $type: 'min') {
	@if $media == 'xs' {
		@media ($type+'-width': $break-xs) {
			@content;
		}
	} @else if $media == 'sm' {
		@media ($type+'-width': $break-sm) {
			@content;
		}
	} @else if $media == 'md' {
		@media ($type+'-width': $break-md) {
			@content;
		}
	} @else if $media == 'lg' {
		@media ($type+'-width': $break-lg) {
			@content;
		}
	} @else {
		@media ($type+'-width': $media) {
			@content;
		}
	}
}

@mixin respond-minmax($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}

@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5) {
		@content;
	}
}

@mixin retina-bg ($path, $width:0, $height:0) {
	@include retina {
		background-image: url($path);

		@if ($width != 0) {
			background-size: $width $height;
		}
	}
}

//  -----------------------------------------------------------------
//	MIXINS: Button
//  -----------------------------------------------------------------

@mixin outline-btn($height: 38px, $color: $primary-color, $hover-color: $secondary-color, $padding: 22px) {
	$btn-trans-speed: .1s;

	display: inline-block;
	position: relative;

	transition: color $btn-trans-speed,
				border-color $btn-trans-speed;

	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: $height;
	padding: 12px $padding;
	width: auto;

	background: none;
	border: 2px solid $color;

	color: $color;

	&:after {
		content: '';
		display: none;
		z-index: -1;

		left: 0;
		position: absolute;
		top: 0;

		transition: height $btn-trans-speed ease-in-out;

		height: 0;
		width: 100%;

		background-color: $hover-color;
	}

	&:hover,
	&:active {
		background-color: $hover-color;
		border-color: $hover-color;

		color: #fff;

		&:after {
			// height: 100%;
		}
	}
}

@mixin button($font-size: 1.5, $line-height: 3.5, $height: 38px, $color: $primary-color, $secondary-color: $secondary-color, $ghost: false, $arrow: false, $padding: 22px) {

	display: inline-block;
	position: relative;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: $height;
	padding-bottom: 12px;
	padding-left: $padding;
	padding-right: $padding;
	padding-top: 12px;
	width: auto;

	background-color: $color;
	border: 1px solid $color;
	border-radius: 0;
	color: $secondary-color;
	cursor: pointer;
	font-size: $font-size;
	font-weight: 700;
	line-height: $line-height;
	outline: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active {
		background-color: $secondary-color;
		border: 1px solid $color;

		color: $color;
	}

	// Button modifiers

	@if $ghost == true {
		background: transparent;
		border: 1px solid $color;

		color: $color;

		&:hover,
		&:active {
			background-color: $color;

			color: $secondary-color;
		}
	}

	@if $arrow == true {
		padding-right: 30px;

		&:after {
			content: '\203a';
			display: block;

			bottom: 13px;
			position: absolute;
			right: 18px;

			font-size: 1.8rem;
		}
	}
}
