/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$tda-logo-reverse-sm-x: 0px;
$tda-logo-reverse-sm-y: 88px;
$tda-logo-reverse-sm-offset-x: 0px;
$tda-logo-reverse-sm-offset-y: -88px;
$tda-logo-reverse-sm-width: 300px;
$tda-logo-reverse-sm-height: 60px;
$tda-logo-reverse-sm-total-width: 428px;
$tda-logo-reverse-sm-total-height: 201px;
$tda-logo-reverse-sm-image: '../../images/campaign_name_sprite@2x.png';
$tda-logo-reverse-sm: 0px 88px 0px -88px 300px 60px 428px 201px '../../images/campaign_name_sprite@2x.png';
$tda-logo-reverse-x: 0px;
$tda-logo-reverse-y: 0px;
$tda-logo-reverse-offset-x: 0px;
$tda-logo-reverse-offset-y: 0px;
$tda-logo-reverse-width: 428px;
$tda-logo-reverse-height: 84px;
$tda-logo-reverse-total-width: 428px;
$tda-logo-reverse-total-height: 201px;
$tda-logo-reverse-image: '../../images/campaign_name_sprite@2x.png';
$tda-logo-reverse: 0px 0px 0px 0px 428px 84px 428px 201px '../../images/campaign_name_sprite@2x.png';
$tda-logo-x: 0px;
$tda-logo-y: 152px;
$tda-logo-offset-x: 0px;
$tda-logo-offset-y: -152px;
$tda-logo-width: 244px;
$tda-logo-height: 49px;
$tda-logo-total-width: 428px;
$tda-logo-total-height: 201px;
$tda-logo-image: '../../images/campaign_name_sprite@2x.png';
$tda-logo: 0px 152px 0px -152px 244px 49px 428px 201px '../../images/campaign_name_sprite@2x.png';

