//  -----------------------------------------------------------------
//	PARTIAL: FOOTER
//  -----------------------------------------------------------------

.footer {
	padding: 15px 0 30px;

	p {
		color: $footer-copy;
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
}
