//  -----------------------------------------------------------------
//	PARTIAL: NAVIGATION
//  -----------------------------------------------------------------

.nav ul {
	margin: 0 0 60px;
	padding: 30px 0 0;

	list-style: none;
	text-align: center;

	li {
		display: inline-block;

		margin: 0 30px 10px;
	}

	a {
		@extend %roboto-med;

		color: $nav-link;
		text-decoration: none;
	}

	a:hover {
		color: $green;
	}
}

