//  -----------------------------------------------------------------
//	PARTIAL: POST
//
//	Shared formatting for post content, experts and pages
//  -----------------------------------------------------------------

// Shared content formatting (applies to single posts, post excerpts, and pages)
.type-post,
.type-page,
.post-excerpt {
	@extend %cf;

	// Text

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		word-wrap: break-word;
	}

	// p,
	// ol,
	// ol li,
	// ul,
	// ul li,
	// dl,
	// dl dt,
	// dl dd,
	// table td,
	// table th,
	// address {}

	// p {}
	// p strong,
	// li strong {}

	// blockquote {}

	// address {}

	// dl {}
	// dl dt {}
	// dl dd {}

	ol,
	ul {
		margin: 0 0 15px 12px;
		padding: 0 0 0 20px;

		list-style-position: outside;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	// ol {}
	// ol li {}

	// ul {}
	// ul li {}

	// Images

	img {
		height: auto;
		max-width: 100%;
	}

	.aligncenter,
	a .aligncenter,
	.wp-caption.aligncenter {
		display: block;

		margin-left: auto;
		margin-right: auto;
	}

	.alignleft,
	a .alignleft,
	.wp-caption.alignleft {
		float: left;

		margin: 0 16px 16px;
	}

	.alignright,
	a .alignright,
	.wp-caption.alignright {
		float: right;

		margin: 0 0 16px 16px;
	}

	// Image sizes

	// img.size-full {}
	// img.size-medium {}

	// Image captions

	.wp-caption {
		margin: 0 0 16px;
		max-width: 100%;

		img {
			display: block;
		}
	}

	// Misc
	iframe {
		max-width: 100%;
	}

}

// Post body <article>
// .type-post {}

// Page content <article>
// .type-page {}

// Post excerpt <blockquote>
// .post-excerpt {}

// Post heading content <header>
// .post-heading {}

// a.post-heading-img {}

// .post-heading-meta {}

// Primary post body content
// .post-body {}

// .post-tags {}

// .post-meta {}
